/* print styles */
@media print {
    body {
        color: $color-text-dark; 
    }

    button, input, select {
        display: none!important;
    }

    .resume__header {
        background: $color-white!important;
    }
    
    .resume__photo {
        @include filter(brightness, 120%);
        @include filter(contrast, 150%);
    }

    .resume__content{
        //border: none;
        -ms-grid-columns: 1fr 1fr 1fr!important;
        grid-template-columns: repeat(3, 1fr)!important;
        
    }

    .resume__content article {
        border: 1px solid $color-gray-light;
        min-height: 230px;
    }

    @page {
        size: letter;
    }
}


