/* print styles */
@media print {
    body {
        margin: 0;
        color: #000; 
    }

    button, input {
        display: none!important;
    }

    .resume {
        background: #fff;
    }
    
    .resume__photo {
        -webkit-filter: brightness(120%) contrast(150%);
        filter: brightness(120%) contrast(150%);
    }

    .resume__container{
        border: none;
        grid-template-columns: repeat(3, 1fr);
    }

    .resume__container article {
        border: 1px solid #e6e6e6;
        min-height: 230px;
    }

    @page {
        size: letter;
    }
}


