.container{
	max-width: 960px;
}

.resume__container {	
	margin: 0.7em auto;
}

.resume__content {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(4, 1fr);

	article {
		border: 1px solid $color-gray-light;
		margin: -1px;
		background-color: $color-white;


		& > div {
			padding: 1.3em 1.55em;

			& > header {
				height: 3.18em;
			}
		}

		& h2 {
			text-align: center;
		}
	}
}


.resume__header {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 25% 55% 20%;
	margin: -1px;
	background-color: $color-gray-light;
	border: 1px solid $color-gray-light;

	.resume__photo {
		height: auto;
        width: 100%;
	}

	.resume__form {
		position: relative;
		padding: 1.25em 1.875em;
	}

	#printButtonContainer {
		text-align: right;
		padding: 1.65em 2.6em 0 0;
	}
}