// Color palette
$color-white:            #fff;
$color-gray-light:      #e6e6e6;
$color-gray:            #bababa;
$color-gray-darker:      #4c4c4c;
$color-black:            #000;
$color-green:            #00ff00;

// Skill flags
$color-skill-level-1:          #a2a2a2;
$color-skill-level-2:          #5c5c5c;
$color-skill-level-3:          #000;

// Text
$color-text-white:       $color-white;
$color-text-light:       $color-gray-light;
$color-text-gray:        $color-gray-darker;
$color-text-dark:        $color-black;

// Buttons
$color-btn:         $color-black;
$color-btn-hover:   $color-gray-darker;