@media screen and (max-width: 800px) {
	.resume__content,
	.resume__header {
		grid-template-columns: repeat(1, 1fr);
	}

	.list-skills{
		text-align: center;
	}

	#printButtonContainer{
		margin: 2em auto;
		
		button{
			padding: 1em 3em;
			border-top-left-radius: 0.4em;
			border-top-right-radius: 0.4em;
			border-bottom-left-radius: 0.4em;
			border-bottom-right-radius: 0.4em;
		}
	}
}